# Ignore everything in repository root
/*
# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Files to not ignore
!/.gitignore

# Folder to not ignore
!/puppet/
!/[Aa]ssets/
!/[Pp]ackages/